/* // border-box 초기화 */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* // 공백 초기화 */
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'JalnanGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BodoniFLF';
    src: url(../../public/fonts/BodoniFLF-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* // 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
    font-family:  "SUIT", "맑은 고딕", helvetica, sans-serif;
}

/* // 링크 초기화 */
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}
    
/* // 스타일 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul {
    list-style: none;
}

em,
address {
    font-style: normal;
}

strong {
    font-weight: normal;
}

img {
    vertical-align: top;
    width: auto;
}

/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
  width: 8px;  /* 세로축 스크롤바 폭 너비 */
  height: 0px;  /* 가로축 스크롤바 폭 너비 */

}
/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
  background: #aaa; /* 스크롤바 막대 색상 */
/* 스크롤바 막대 테두리 설정  */
  border-radius: 12px 12px 12px 12px;
}
::-webkit-scrollbar-thumb:hover {
background-color:#bbb;
}

/* // 스킵메뉴 */
#skip a {
    position: absolute;
    left: 10px;
    top: -92px;
    z-index: 100000;
    font-size: 1rem;
    padding: 10px 30px;
    color: var(--white);
    background: var(--black);
}
#skip a:focus,
#skip a:active {
    top: 10px;
}     

.scroll_wrap {display: flex;  box-sizing: border-box; height:100vh; position:relative;  }
.header_nav_mobile{display: none;}

/* 헤더 */
#header{position:fixed; bottom:-70px;  left:-70px;  width:100vh;  transform-origin: top left;  transform:rotate(-90deg);  z-index: 9999; border-bottom:solid 1px #333; background: #fff; } 
.wrap_header{position:absolute; width:100vh; bottom:-70px;left:115vh; transition:0.5s; transform-origin: top left;  transform:rotate(-90deg);  border-bottom:solid 1px #333;   } 

.header_inner{position:relative; display: flex; height:70px; max-width: 95%; margin:0 auto;   justify-content: space-between;   align-items: flex-end; padding-bottom:8px; }
.header_inner .header_logo{position:absolute; left:50%;}
.header_inner a{font-size: 22px; font-weight: 100;}
.header_nav ul{display: flex; gap:15px;}



/* intro */ 
.wrap_intro{display: flex;}
.wrap_intro .wrap_home {width:1200px; position:relative;}
.wrap_intro .wrap_home>img{position:absolute;}
.wrap_intro .wrap_home .home_hy{ top:2%; left:1%}
.wrap_intro .wrap_home .ellipse1{top:35%; left:20%}
.wrap_intro .wrap_home .ellipse2{top:50%; left:55%}
.wrap_intro .wrap_home .polygon1{bottom:5%; left:36%}
.wrap_intro .wrap_home .polygon2{top:13%; left:28%}
.wrap_intro .wrap_home .rectangle2{top:13%; left:65%}
.wrap_intro .wrap_home .rectangle3{bottom:13%; left:60%}
.wrap_intro .wrap_home>p{font-family: 'ONE-Mobile-Regular'; position:absolute; bottom:2%; font-size: 58px; left:1%;}
.wrap_intro .wrap_home>p span {font-family: 'One-mobile-Title'}

/* main */
#main { display: flex;} 

/* WELCOME */
#main .wrap_welcome{position:relative; width:2000px;}
.wrap_welcome div>p{font-family: "BodoniFLF"; font-size: 18vh; position:absolute; overflow-x: visible ;  overflow-y:hidden; }
.wrap_welcome div>p:nth-child(1){top:20%; left:10%; width:70%;}
.wrap_welcome div>p:nth-child(2){top:40%; left:30%; width:50%;}
.wrap_welcome div>p:nth-child(3){top:60%; left:5%; width:80%;}
.wrap_welcome div>p>span{position:relative; top:18vh;}

/* port */ 
#port { background:#fff; z-index: 888;}


/* title */
.wrap_title{position:absolute; width:90vh; bottom:calc(50vh - 22px); left:-50vh;   transform-origin: center center;  transform:rotate(-90deg);  border-bottom:solid 1px #333; text-align: center;}
#main .wrap_title p {padding-bottom:20px; font-size: 18px;}

/* about */
.wrap_about{position:relative; margin-left:150px; padding:20px;}
#main .wrap_about {width:1500px;}
#main .wrap_about .contents {display: flex;  }
#main .wrap_about .contents>div {width:84vh;}


/* about/swiper */
.swiper {
  width: 65%; margin-top:30px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width:100% !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;  
  object-fit: cover; 
  width:100%;
} 
#main .wrap_about .contents .swiper_about { position:relative;}
#main .wrap_about .contents ~ p{ font-size: 22px; font-weight: 100; position:absolute; bottom:2%;}
#main .wrap_about .contents ~  p>span{font-weight: 600;}

#main .wrap_about .contents .swiper-navigation {position:absolute; top:40%;   z-index: 999; width:100%;}
#main .wrap_about .contents .swiper-navigation button{background:#fff; border:0; border-radius: 50%; width:140px; height:140px; font-family: 'JalnanGothic'; font-size: 32px; cursor: pointer;  position:absolute; top:0%;}
#main .wrap_about .contents .swiper-navigation .swiper_next { right:60px;  }
#main .wrap_about .contents .swiper-navigation .swiper_prev{ left:60px;}

#main .wrap_about .text_box{display: flex; flex-direction: column; align-items: center; justify-content: center; transform:translateY(50px)}

#main .wrap_about .text_box h1{font-size: 64px; font-weight: 700; padding-bottom:70px;}

#main .wrap_about .text_box>div {display: flex; gap:80px; padding-bottom:70px;}

#main .wrap_about .text_box>div ul li{padding-bottom:30px; font-size: 24px;}

#main .wrap_about .text_box>div .about{text-align: left}
#main .wrap_about .text_box>div .me{text-align: right}

/* work */
#main .wrap_work, .wrap_work{width:calc(100vw - 8px);  box-sizing: border-box; position:relative;  z-index: 0;}

.wrap_work>section {display: flex; justify-content: space-between; padding:80px; }
.wrap_work>section>div{width:48%;}
.wrap_work>section>div img{width:65%;}

.wrap_work>section .img_section{position:relative; display: flex; justify-content: center;}
.wrap_work>section .img_section p{position:absolute; top:-50px; left:80px; font-family: 'One-Mobile-Title'; font-size: 128px; color:#e0d4fa; text-shadow: -5px 0px #fff, 0px 5px #fff, 5px 0px #fff, 0px -5px #fff; }

.wrap_work>section .text_section{position:relative;}
.wrap_work>section .text_section h1 { padding:75px 0 40px 0; font-size: 60px; font-weight: 800;  }
.wrap_work>section .text_section ul{display: flex; gap:15px;}
.wrap_work>section .text_section ul a{font-size: 24px; text-decoration: underline; font-weight: 200; }
.wrap_work>section .text_section p {position:absolute; bottom:0; font-size: 24px; font-weight: 200; max-width:700px; word-break:keep-all;}

/* skill */ 
.wrap_skill{position:relative; width:1200px; min-height: 100vh; }
.wrap_skill .wrap_title{left:-40vh;}
.wrap_skill .skills { position:relative; padding:55px 0 0 100px;}
.wrap_skill .skills button {position:relative; border:0; font-size:32px; font-weight:600; font-family: 'SUIT'; background:transparent; z-index: 3; transition:0.3s; cursor: pointer;}
.wrap_skill .skills .img{position:absolute; top:50%; left:50%; transform:translate(calc(-50% - 200px), calc(-50% + 55px )); transition:0.3s;   width:50%; height:100%;  background:#f6f6f6; display: flex; align-items: center; justify-content: center; opacity: 0;  } 
.wrap_skill .skills button:hover {color:#e0d4fa; text-shadow: 2px 2px 2px rgba(0,0,0,0.5) }
.wrap_skill .skills button:hover ~ .img{opacity: 1;}
.wrap_skill .skills li .cursor{position:absolute; top:50%; left:30%; font-size: 18px; display: none; z-index: -1;} 
.wrap_skill .skills li:first-child .cursor{display: block;}

/* contact */
.wrap_contact{width:calc(100vw - 208px); min-height: 100vh; position:relative; padding:55px 0 55px 100px; }
.wrap_contact .contact_flex{display: flex; height:100%; }
.wrap_contact .contact_flex>div{ width:50%;   box-sizing: border-box;  }
.wrap_contact .contact_flex .info{ display: flex; flex-direction: column; justify-content: space-between;}
.wrap_contact .contact_flex .info>p{font-size: 32px; font-weight: 200;}
.wrap_contact .contact_flex .info>p span{font-weight: 600;}
.wrap_contact .contact_flex .info ul>li:first-child{font-size: 32px; font-weight: 800;}
.wrap_contact .contact_flex .info ul li {display: flex; align-items: center; width:50%; padding:10px 0; border-bottom:1px solid #333; font-size: 18px;  }
.wrap_contact .contact_flex .info ul li img{margin-right:10px;}

.wrap_contact .contact_flex .hy_img{display: flex; align-items: center;}
.wrap_contact .contact_flex .hy_img img{width:60%;}

.wrap_contact li img{width:45px;}


/* second_scroll */
.second_scroll{/*transform:translateY(-100vh);*/position:relative; top:-100vh; z-index: -1; height: 0;  }
.second_scroll .contact_box{display: flex; background:#fff;}

 



